@import "https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css";

:root {
    --default: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 150vw;
    height: 100vh;

    background-image: url(background.png), url(background.png);
    background-repeat: repeat-x;
    background-size: 450px;
    animation: scrollBackground 10s linear infinite;
    animation-direction: alternate;
}

/* Greeting */


#greeting {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.greeting {
    padding-left: 25px;
}

.userContainer {
    display: flex;
    justify-content: flex-end;

    width: 90vw;
    background-color: #e7f4de75;
    padding: 10px;
    padding-left: 25px;
}
.userInput {
    background-color: #e2ecf183;
    width: 50vw;
    text-align: right;
}

.userEnter {
    font-family: var(--default);
    text-align: right;
    color: transparent;
    -webkit-text-stroke: 1.5px black;
}

#date {
    /* display: inline-block; */
    background-color: #e2ecf1;
    padding: 7px;
    border-radius: 20px;
    font-family: var(--default);
}


.textEditor {
    padding-left: 25px;
}
.editorBackground {
    width: 90vw;
    height: 50vh;
    background-color: #e7f4de75;
}

#enter {
    display: none;
}

#goals {
    background-color: #e2ecf183;
    min-height: 22rem;
    max-height: 22rem;
}


  


/* scrolling background */
@keyframes scrollBackground {
    0% {
        background-position: 0 0, 100% 0; /* Initial positions */
    }
    100% {
        background-position: -100% 0, 0 0; /* Final positions (swapped) */
    }
}