@import "https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css";
body {
    margin: 0;
    overflow: hidden;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 150vw;
    height: 100vh;

    background-image: url(background.png), url(background.png);
    background-repeat: repeat-x;
    background-size: 450px;
    animation: scrollBackground 10s linear infinite;
    animation-direction: alternate;
}

/* Greeting */
.title {
    font-size: 50px;
}

.block {
    padding-left: 25px;
    padding-top: 25px;
}

.userContainer {
    display: flex;
    justify-content: flex-end;

    width: 90vw;
    background-color: #e7f4de75;
    padding: 10px;
}
.userInput {
    width: 35vw;
    text-align: right;
}

.userEnter {
    text-align: right;
    color: transparent;
    -webkit-text-stroke: 2px black;
}


.editorBackground {
    width: 90vw;
    height: 50vh;
    background-color: #e7f4de75;
}


  


/* scrolling background */
@keyframes scrollBackground {
    0% {
        background-position: 0 0, 100% 0; /* Initial positions */
    }
    100% {
        background-position: -100% 0, 0 0; /* Final positions (swapped) */
    }
}