@import "https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css";

:root {
    --default: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 150vw;
    height: 100vh;

    background-image: url(background.png), url(background.png);
    background-repeat: repeat-x;
    background-size: 450px;
    animation: scrollBackground 15s linear infinite;
    animation-direction: alternate;
}

/* Greeting */


#greeting {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4AC88F;
}

.greeting {
    padding-left: 25px;
}

.userContainer {
    display: flex;
    justify-content: flex-end;

    width: 90vw;
    background-color: #e2ecf180;
    padding: 10px;
    padding-left: 25px;
}
.userInput {
    background-color: #e2ecf183;
    width: 50vw;
    text-align: right;
}

.userEnter {
    white-space: nowrap;
    font-family: var(--default);
    text-align: right;
    color: transparent;
    -webkit-text-stroke: 2px #4AC88F;
}

#date {

    display: inline-block;
    background-color: #e2ecf1;
    padding: 7px;
    border-radius: 20px;
    font-family: var(--default);
}

#quote {

    display: inline-block;
    background-color: #e2ecf1;
    padding: 7px;
    border-radius: 20px;
    font-family: var(--default);
}


.textEditor {
    padding-left: 25px;
}
.editorBackground {
    max-width: 90vw;
    min-height: 50vh;
    background-color: #e7f4de75;
}

.aiResponse {
    padding-left: 25px;
}

.responseBackground {
    width: 90vw;
    min-height: 25vh;
    background-color: #e2ecf180;
}

#enter {
    display: none;
}

#goals {
    border-radius: 20px;
    background-color: #e2ecf183;
    min-height: 33vh;
}

#generate {
    background-color: #e2ecf1;
}

.dateAndQuote {
    display: flex;
    justify-content: space-between;
}

.imageContainer {
    width: 10vh;
}

#star {
    animation: pulse 1.5s infinite;
}

.aiFeedbackContainer {

    display: flex;
    justify-content: center;
    align-items: center;
}

.aiFeedback {
    animation: fade 1.5s infinite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4AC88F;
}




  


/* scrolling background */
@keyframes scrollBackground {
    0% {
        background-position: 0 0, 100% 0; /* Initial positions */
    }
    100% {
        background-position: -100% 0, 0 0; /* Final positions (swapped) */
    }
}

/* fade animation */
@keyframes fade {
    0% {
        opacity: 0.4;
      }
      50% {
        opacity: 1; 
      }
      100% {
        opacity: 0.4; 
      }
}

#star.loading {
    animation: loading 1.5s infinite;
}

/* pulse animation */
@keyframes pulse {
    0% {
      transform: scale(1);
       /* Start at normal size */
    }
    50% {
      transform: scale(1.2); /* Grow to 110% size */
    }
    100% {
      transform: scale(1); /* Return to normal size */
    }
  }

@keyframes loading {
    0% {
        transform: rotate(0);
         /* Start at normal size */
      }

      100% {
        transform: rotate(1turn); /* Return to normal size */
      }
    
}